.roll_result {
    font-weight: bold;
    font-size: 6em;
}

.dark_log_expanded {
  background-color: var(--headerbar-bg-color);    
}

.dark_log_collapsed {
  background-color: var(--headerbar-backdrop-color);    
}

.light_log_expanded {
  background-color: #EBEBEB;    
}

.light_log_collapsed {
  background-color: var(--dialog-bg-color);   
}

